*{
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-size: 0;*/
    box-sizing: border-box;
}
.minute{
    position: relative;
    width: 60%;
    border: 1px #999 solid;
    background: #E7E5E1;
    margin: 30px 0 0 20%;
}
li{
    width: 100%;
    /*line-height: 50px;*/
    padding-left: 12px;
}
.send {
    background: #5b5b75;
    /*padding-left: 20px;*/
    font-size: 20px;
    color: white;
    height: 50px;
    line-height: 50px;
}
.textarea--left{
    display: inline-block;
    width: 15%;
    text-align: right;
    color: #333;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
}
.write{
    color: #999;
}
.select{
    display: inline-block;
    width: 18%;
    height: 30px;
    line-height: 30px;
    background: #bebebe;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    color: #8d8d8d;
}
.icon{
    display: inline-block;
    width: 75%;
    height: 370px;
    background: #fff;
    overflow-y: auto;
    vertical-align: middle;
}
.icon--icon{
    width: 23%;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 15px;
    background: #e4e4e4;
    color: #666;
    border: 1px solid #999;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: relative;
}
input{
    width: 18%;
    height: 30px;
    line-height: 30px;
}
.left{
    vertical-align: middle;
}
.delete{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    right: -7px;
    top: -6px;
    background: red;
    line-height: 10px;
    color: #fff;
    cursor: pointer;
}
select{
    height: 30px;
    line-height: 30px;
    width: 18%;
    color: #555;
}
.reset{
    width: 10%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    background: red;
    margin: 4% 58.5% 25px 10%;
    color: #fff;
}
.sub{
    width: 10%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    background: #00c600;
    color: #fff;
}
option{
    color: #444;
}
.conceal{
    display: none;
    width: 345px;
    height: 200px;
    background: #fff;
    overflow-y: auto;
    position: absolute;
    left: 350px;
    top: 495px;
}
.depts{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #e6e6e6;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #444444;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 5px 0 0 5px;

}
.depts1{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #e6e6e6;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #444444;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 5px 0 0 5px;

}
.depts2{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #e6e6e6;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #444444;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 5px 0 0 5px;

}
#return{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: deepskyblue;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    overflow:hidden;
    margin: 5px 0 0 5px;
}
#top{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: deepskyblue;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    overflow:hidden;
    margin: 5px 0 0 5px;
}
#top1{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: deepskyblue;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    overflow:hidden;
    margin: 5px 0 0 5px;
}
.cancel{
    background: red;
}
